# Firebase (project: bicc-gambia)
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=bicc-gambia.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=bicc-gambia
VITE_FIREBASE_STORAGE_BUCKET=bicc-gambia.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=

# EmailJS
VITE_EMAILJS_SERVICE_ID=
VITE_EMAILJS_TEMPLATE_ID=
VITE_EMAILJS_PUBLIC_KEY=
